<div class="container">
    <br/>
    <div class="title-container"><h1 class="title">Lista de Reseñas</h1></div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let element"> {{element.idReview}} </td>
      </ng-container>
    
      <ng-container matColumnDef="puntuacion">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.punctuation}} </td>
      </ng-container>
  
      <ng-container matColumnDef="comentario">
        <th mat-header-cell *matHeaderCellDef> Puntuacion </th>
        <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
      </ng-container>
  
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.user.username}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" [routerLink]="['ediciones',element.idReview]"> 
                <mat-icon>edit</mat-icon>
              </button>
              <button class="boton" mat-icon-button  (click)="deletes(element.idReview)" color="warn"> 
                <mat-icon>delete</mat-icon>
              </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>