<mat-toolbar>
  <mat-icon>menu</mat-icon>
  <button mat-button [matMenuTriggerFor]="menuUsers" > <mat-icon>group</mat-icon>Usuarios</button>
  <button mat-button [matMenuTriggerFor]="menuCategory"  ><mat-icon>category</mat-icon>Categorias</button>
  <button mat-button [matMenuTriggerFor]="menuRole"  ><mat-icon>admin_panel_settings</mat-icon>Roles</button>
  <button mat-button [matMenuTriggerFor]="menuProduct"  ><mat-icon>shopping_bag</mat-icon>Productos</button>
  <button mat-button [matMenuTriggerFor]="menuSpeciality"  ><mat-icon>medical_services</mat-icon>Especialidades</button>
  <button mat-button [matMenuTriggerFor]="menuHealthObjective"   ><mat-icon>fitness_center</mat-icon>Objetivos de Salud</button>
  <button mat-button [matMenuTriggerFor]="menuMonitoring"  ><mat-icon>track_changes</mat-icon>Seguimientos</button>
  <button mat-button [matMenuTriggerFor]="menuShopping"  ><mat-icon>shopping_cart</mat-icon>Compras</button>
  <button mat-button [matMenuTriggerFor]="menuShoppingDetail"  ><mat-icon>receipt_long</mat-icon>Detalles de Compras</button>
  <button mat-button [matMenuTriggerFor]="menuReview"  ><mat-icon>rate_review</mat-icon>Reseñas</button>
  <button mat-button [matMenuTriggerFor]="menuQuestion"  ><mat-icon>question_answer</mat-icon>Preguntas</button>
  <button mat-button [matMenuTriggerFor]="menuAnswer"   ><mat-icon>reply</mat-icon>Respuestas</button>
  <button mat-button [matMenuTriggerFor]="menuRecommendation" ><mat-icon>recommend</mat-icon>Recomendaciones</button>
</mat-toolbar>
<mat-menu #menuUsers="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar Usuarios </button>
  <button mat-menu-item routerLink="/usuarios/nuevo">Registrar Usuarios</button>
</mat-menu>
<mat-menu #menuCategory="matMenu">
  <button mat-menu-item routerLink="/categorias">Listar Categorias</button>
  <button mat-menu-item routerLink="/categorias/nuevo">Registrar Categorias</button>
</mat-menu>
<mat-menu #menuRole="matMenu">
  <button mat-menu-item routerLink="/roles">Listar Roles</button>
  <button mat-menu-item routerLink="/roles/nuevo">Registrar Roles</button>
</mat-menu>
<mat-menu #menuProduct="matMenu">
  <button mat-menu-item routerLink="/productos">Listar Productos</button>
  <button mat-menu-item routerLink="/productos/nuevo">Registrar Productos</button>
</mat-menu>
<mat-menu #menuSpeciality="matMenu">
  <button mat-menu-item routerLink="/especialidades">Listar Especialidad</button>
  <button mat-menu-item routerLink="/especialidades/nuevo">Registrar Especialidad</button>
</mat-menu>
<mat-menu #menuHealthObjective="matMenu">
  <button mat-menu-item routerLink="/Objetivo-de-salud">Listar Objetivos de Salud</button>
  <button mat-menu-item routerLink="/Objetivo-de-salud/nuevo">Registrar Objetivos de Salud</button>
</mat-menu>
<mat-menu #menuMonitoring="matMenu">
  <button mat-menu-item routerLink="/seguimiento">Listar Seguimiento</button>
  <button mat-menu-item routerLink="/seguimiento/nuevo">Registrar Seguimiento</button>
</mat-menu>
<mat-menu #menuShopping="matMenu">
  <button mat-menu-item routerLink="/compras">Listar Compras</button>
  <button mat-menu-item routerLink="/compras/nuevo">Registrar Compras </button>
</mat-menu>
<mat-menu #menuShoppingDetail="matMenu">
  <button mat-menu-item routerLink="/detallesCompra">Listar Detalles de Compras</button>
  <button mat-menu-item routerLink="/detallesCompra/nuevo">Registrar Detalles de Compras</button>
</mat-menu>
<mat-menu #menuReview="matMenu">
  <button mat-menu-item routerLink="/resenias">Listar Reseñas</button>
  <button mat-menu-item routerLink="/resenias/nuevo">Registrar Reseñas</button>
</mat-menu>
<mat-menu #menuRecommendation="matMenu">
  <button mat-menu-item routerLink="/recomendaciones">Listar Recomendaciones</button>
  <button mat-menu-item routerLink="/recomendaciones/nuevo">Registrar Recomendaciones</button>
</mat-menu>
<mat-menu #menuQuestion="matMenu">
  <button mat-menu-item routerLink="/preguntas">Listar Preguntas</button>
  <button mat-menu-item routerLink="/preguntas/nuevo">Registrar Preguntas</button>
</mat-menu>
<mat-menu #menuAnswer="matMenu">
  <button mat-menu-item routerLink="/Respuesta">Listar Respuestas</button>
  <button mat-menu-item routerLink="/Respuesta/nuevo">Registrar Respuestas</button>
</mat-menu>
<router-outlet></router-outlet>
