<div class="title-container"><h1 class="title">Registro de preguntas</h1></div>
<div class="title-container" >
    
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field *ngIf="edicion">
      <mat-label>Codigo</mat-label>
      <input matInput readonly formControlName="codigo" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preguntas</mat-label>
      <mat-select formControlName="consulta">
        <mat-option *ngFor="let g of listaPreguntas" [value]="g.value">
          {{ g.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('consulta')?.hasError('required')"
        >La pregunta es obligatoria.</mat-error
      >
    </mat-form-field>
    <br>
    <button class="boton" mat-raised-button color="primary">Aceptar</button>
    <button class="boton" mat-raised-button color="warn" (click)="cancelar()">
        Cancelar
      </button>
  </form>
</div>
