<div class="container" style="text-align: center;" >
  <h2>Registro de preguntas</h2>
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">
    <mat-form-field class="example-full-width" *ngIf="edicion" >
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="Codigo" formControlName="codigo" readonly/>
      <mat-error *ngIf="form.get('codigo')?.hasError('required')"
    >El codigo no se modifica.</mat-error>
</mat-form-field>
    <mat-form-field >
      <mat-label>Preguntas</mat-label>
      <mat-select formControlName="consulta">
        <mat-option *ngFor="let g of listaPreguntas" [value]="g.value">
          {{ g.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('consulta')?.hasError('required')"
        >La pregunta es obligatoria.</mat-error
      >
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/preguntas">Cancelar</button>
  </form>
</div>