.chart-container {
    display: flex;
    justify-content: center;
  }
  .chart-wrapper {
    width: 80%; /* Ajusta el tamaño según sea necesario */
    max-width: 900px; /* Tamaño máximo opcional */
  }