<div class="title-container"><h1 class="title " >Registrar Recomendaciones</h1></div>
<div class="container">
  <br />
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field *ngIf="edicion">
      <mat-label>Codigo</mat-label>
      <input matInput readonly formControlName="codigo" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Recomendacion</mat-label>
      <input matInput formControlName="descripcion" />
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')"
        >La recomendacion es obligatoria.</mat-error
      >
    </mat-form-field>

    <br />
    <mat-form-field>
      <mat-label>Selecciona un usuario</mat-label>
      <mat-select [(value)]="selected"  formControlName="usuario">
        <mat-option  *ngFor="let u of users" [value]="u.idUser" >
          {{ u.username}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('usuario')?.hasError('required')"
      >El usuario es obligatorio.
    </mat-error>
    </mat-form-field>
   
      <br />

      <button class="boton" mat-raised-button color="accent">Aceptar</button>
      <button class="boton" mat-raised-button color="warn" (click)="cancelar()">
        Cancelar
      </button>

    </form>
</div>
