<div class="title-container"><h1 class="title">Registrar Compra</h1></div>
<div class="container">
  <br />
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field *ngIf="edicion">
      <mat-label>Codigo</mat-label>
      <input matInput readonly formControlName="codigo" />
      <mat-error *ngIf="form.get('codigo')?.hasError('required')"
      >EL Codigo es obligatorio.</mat-error>
  </mat-form-field>
  <br />

  <mat-form-field appearance="fill" class="example-full-width">
    <input
      matInput
      placeholder="Ingrese fecha"
      [matDatepicker]="picker"
      formControlName="fecha"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    
    <mat-error *ngIf="form.get('fecha')?.hasError('required')"
      >La fecha es obligatoria.</mat-error
    >
  </mat-form-field>  
    <br />

    <mat-form-field>
      <mat-label>Total de compra</mat-label>
      <input matInput formControlName="total" />
      <mat-error *ngIf="form.get('total')?.hasError('required')"
        >El total de compras es obligatorio.</mat-error>
    <mat-error *ngIf="form.get('total')?.hasError('pattern')"
    >El total de compras no es valido.</mat-error>
</mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Selecciona un usuario</mat-label>
      <mat-select formControlName="usuario">
        <mat-option *ngFor="let u of users" [value]="u.idUser">
          {{ u.username}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('usuario')?.hasError('required')"
      >El usuario es obligatorio.
    </mat-error>
    </mat-form-field>
    <br />

      <button class="boton" mat-raised-button color="accent">Aceptar</button>
      <button class="boton" mat-raised-button color="warn" (click)="cancelar()">
        Cancelar
      </button>
      </form>
</div>