<div class="container">
    <div class="title-container"><h1 class="title">Lista de Usuarios</h1></div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
 
        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
    
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
    
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo electronico </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="otro">
        <mat-card appearance="outlined">
          <mat-card-content mat-header-cell *matHeaderCellDef>
            <mat-card-content>Usuario</mat-card-content>
          </mat-card-content>
          <mat-card-content mat-cell *matCellDef="let element">
            
            <div class="user-info">
              <mat-icon class="user-icon">account_circle</mat-icon>
              <div class="user-name">{{element.username}}</div>
              <div class="user-email">{{element.email}}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    
        
        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef> Direccion </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>

          <ng-container matColumnDef="peso">
            <th mat-header-cell *matHeaderCellDef> Peso </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>


          <ng-container matColumnDef="altura">
            <th mat-header-cell *matHeaderCellDef> Altura </th>
            <td mat-cell *matCellDef="let element"> {{element.height}} </td>
          </ng-container>


          <ng-container matColumnDef="suscripcion">
            <th mat-header-cell *matHeaderCellDef> ¿Cuenta con suscripción? </th>
            <td mat-cell  *matCellDef="let element"> {{element.subscription ? 'Si':'No'}} </td>
          </ng-container>


          <ng-container matColumnDef="esprofesional">
            <th mat-header-cell *matHeaderCellDef> ¿Es un profesional? </th>
            <td mat-cell *matCellDef="let element"> {{element.healthProfessional ? 'Si':'No'}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="primary" [routerLink]="['ediciones',element.id]"> 
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button class="boton" mat-icon-button  (click)="deletes(element.id)" color="warn"> 
                    <mat-icon>delete</mat-icon>
                  </button>
            </td>
          </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 15, 20]"
      showFirstLastButtons
    ></mat-paginator>
    </div>
  